language: python
services:
    - docker
python:
    - "3.6"
before_install:
    - docker pull existdb/existdb:4.7.1
    - docker run -it -d -p 8080:8080 -p 8443:8443 --name exist-4.7.1 existdb/existdb:4.7.1
install:
    - travis_retry pip install poetry
    - travis_retry poetry install
script:
    - poetry run pytest