[tool.poetry]
name = "snakesist"
version = "0.1.1"
description = "A Python database interface for eXist-db"
license = "MIT"
authors = ["Theodor Costea <theo.costea@gmail.com>", "Frank Sachsenheim <funkyfuture@riseup.net>"]
readme = "README.rst"
repository = "https://github.com/03b8/snakesist"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Natural Language :: English",
    "Topic :: Text Processing :: Markup :: XML",
]
keywords = ["xml", "exist-db", "client"]

[tool.poetry.dependencies]
python = "^3.6"
delb = "^0.2b3"
requests = "^2.22"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
pytest-mypy = "^0.4.1"
sphinx = "*"
sphinx_rtd_theme = "^0.4.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
