---

name: quality checks

on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:
    inputs:
      ref:
        required: true
        type: string

jobs:


  other-quality-checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - doctest
          - mypy
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref || github.ref }}
      - uses: actions/setup-python@v5
        with:
          cache: pip
          python-version: "3.x"
      - uses: extractions/setup-just@v2
      - run: just ${{ matrix.target }}

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref || github.ref }}
      - uses: actions/setup-python@v5
        with:
          cache: pip
          python-version: ${{ matrix.python-version }}
      - uses: extractions/setup-just@v2
      - run: just pytest

...
